---
const navStyle = `
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
`;

const linkStyle = `
  margin: 0 0.5rem;
  text-decoration: none;
  color: inherit;
`;
---

<nav style={navStyle}>
  <div>
    <a href="/" style={linkStyle}>🏠 Home</a> |
    <a href="/blog" style={linkStyle}>Blog</a> |
    <a href="/pl/blog" style={linkStyle}>Blog PL</a>
  </div>
  <div>
    <a href="/blog" style={linkStyle}>🇬🇧</a>
    <a href="/pl/blog" style={linkStyle}>🇵🇱</a>
  </div>
</nav>

