---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const { tag } = Astro.params;
const posts = await getCollection('en');
const filtered = posts.filter(post => post.data.tags?.includes(tag));

export async function getStaticPaths() {
  const posts = await getCollection('en');
  const tags = new Set();
  for (const post of posts) {
    post.data.tags?.forEach(t => tags.add(t));
  }
  return [...tags].map(tag => ({ params: { tag } }));
}
---

<BaseLayout title={`Tag: ${tag}`}>
  <h1># {tag}</h1>
  {filtered.length === 0 ? (
    <p>No posts with this tag.</p>
  ) : (
    <ul>
      {filtered.map(post => (
        <li style="margin-bottom: 1rem;">
          <a href={`/blog/${post.slug}`} style="font-weight: bold;">
            {post.data.title}
          </a>
          <div><em>{post.data.pubDate.toDateString()}</em></div>
        </li>
      ))}
    </ul>
  )}
</BaseLayout>

